.page-header {
  padding: 30px 30px 0 17px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 50px 50px 0 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 60px 0 60px;
    align-items: center;
  }
}

.page-header__logo-image {
  @media (min-width: @tablet-width) {
    width: 180px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }
}

.page-header__link {
  display: none;
}

@media (min-width: @desktop-width) {
  .page-header__link {
    display: block;

    &:focus {
      color: @yellow;
    }

    &:hover {
      color: @yellow;
    }

    &:active {
      color: @orange;
    }
  }
}
